@import './base.css';
@import "tailwindcss";

body {
  background-color: var(--color-gray-50);
  height: 100vh;
  overflow: hidden;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
